/* Global body styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212; /* Unified background color */
  color: #ffffff; /* White text for readability */
}

/* Title styling */
h1 {
  text-align: center;
  margin: 20px 0;
  color: #40E0D0; /* Turquoise color */
}

/* Dashboard container for layout */
.dashboard-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 100vh; /* Full screen height */
  padding: 20px;
  box-sizing: border-box;
  gap: 20px; /* Unified gap */
}

/* Style for the map */
#map {
  height: 100%;
  width: 48%; /* Map takes 48% of the screen width */
  border-right: 3px solid #444; /* Border between map and charts */
  border: 1px solid #ddd; /* Light border */
}

/* styling for legend */
.info.legend {
  background: grey;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  font-size: 14px;
}
.info.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

/* Charts container styling */
.charts-container {
  display: flex;
  flex-direction: column; /* Stacked vertically */
  justify-content: space-between;
  width: 50%; /* Takes the other half of the screen */
  height: 100%;
  gap: 20px; /* Unified gap */
}

/* Chart style */
.chart {
  height: 250px;
  background-color: #2a2a2a; /* Dark background for charts */
  border: 2px solid #444; /* Dark border */
  border-radius: 8px; /* Rounded corners */
  padding: 10px;
  flex-grow: 1; /* Equal spacing among charts */
}

/* Filters container styling */
.filters-container {
  display: flex;
  gap: 20px; /* Unified gap */
  margin: 20px 0;
  align-items: center;
}

/* Label styling */
label {
  font-size: 16px;
  color: #ffffff;
}

/* Input and select styling */
select,
input[type="range"] {
  padding: 5px;
  border-radius: 4px;
}

/* Magnitude value styling */
#magnitude-value {
  color: #40E0D0; /* Turquoise color */
  font-size: 16px;
}

/* Responsive design for small screens */
@media (max-width: 768px) {
  .dashboard-container {
    flex-direction: column;
  }
  #map {
    width: 100%; /* Full width on small screens */
    height: 50vh; /* Reduced height */
  }
  .charts-container {
    width: 100%; /* Full width */
    height: auto; /* Adjust height */
  }
  .chart {
    height: 300px; /* Increased height for better visibility */
  }
}